.contact-us-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-us-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.contact-us-navlink10 {
  display: contents;
}
 
.contact-us-image {
  width: 208px;
  height: 123px;
  text-decoration: none;
}
 
.contact-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.contact-us-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #c2006c;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
  background-color: #ff61c5;
}
 
.contact-us-navlink11 {
  color: #ffffff;
  text-decoration: none;
}
 
.contact-us-navlink12 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink13 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink14 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-text12 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink15 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-burger-menu {
  display: none;
}
 
.contact-us-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.contact-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.contact-us-logo {
  height: 2rem;
}
 
.contact-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-us-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-us-navlink16 {
  color: #ffffff;
  text-decoration: none;
}
 
.contact-us-navlink17 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink18 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink19 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink20 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink21 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-us-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-us-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-us-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-us-container12 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: 492px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
}
 
.contact-us-text15 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.contact-us-text16 {
  font-weight: 300;
}
 
.contact-us-text17 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
 
.contact-us-text19 {
  font-weight: 600;
}
 
.contact-us-text20 {
  font-weight: 600;
}
 
.contact-us-text27 {
  font-weight: 300;
}
 
.contact-us-text28 {
  font-style: normal;
  font-weight: 600;
}
 
.contact-us-container13 {
  gap: var(--dl-layout-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  justify-content: center;
  background-color: #ff61c5;
}
 
.contact-us-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-us-text31 {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-us-navlink22 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink23 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink24 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink25 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink26 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink27 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink28 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-container15 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-us-text32 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-us-navlink29 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-container16 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-us-text33 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-us-link3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link4 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-navlink30 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-container17 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-us-text34 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-us-link5 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link6 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link7 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-link8 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.contact-us-container18 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #ff61c5;
}
 
.contact-us-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: rgba(25, 24, 24, 0.54);
  border-width: 0.5px;
}
 
.contact-us-text35 {
  color: rgba(25, 24, 24, 0.59);
}
 
@media(max-width: 767px) {
  .contact-us-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .contact-us-desktop-menu {
    display: none;
  }
  .contact-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .contact-us-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .contact-us-mobile-menu {
    padding: 16px;
  }
  .contact-us-nav {
    gap: var(--dl-layout-space-unit);
    background-color: #ff61c5;
  }
  .contact-us-top {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-us-logo {
    width: 106px;
    height: 82px;
  }
  .contact-us-navlink16 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .contact-us-navlink21 {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .contact-us-container12 {
    height: auto;
  }
  .contact-us-container13 {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
  }
}
