.legal-agg-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.legal-agg-navlink10 {
  display: contents;
}
 
.legal-agg-image {
  width: 208px;
  height: 123px;
  text-decoration: none;
}
 
.legal-agg-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.legal-agg-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #c2006c;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
  background-color: #ff61c5;
}
 
.legal-agg-navlink11 {
  color: #ffffff;
  text-decoration: none;
}
 
.legal-agg-navlink12 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink13 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink14 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink15 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink16 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-burger-menu {
  display: none;
}
 
.legal-agg-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.legal-agg-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.legal-agg-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.legal-agg-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.legal-agg-logo {
  height: 2rem;
}
 
.legal-agg-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.legal-agg-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.legal-agg-navlink17 {
  color: #ffffff;
  text-decoration: none;
}
 
.legal-agg-navlink18 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink19 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink20 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink21 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-navlink22 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.legal-agg-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.legal-agg-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.legal-agg-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.legal-agg-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.legal-agg-container12 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
}
 
.legal-agg-text14 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.legal-agg-container13 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text15 {
  color: rgb(16, 16, 121);
  font-size: 35px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container14 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text17 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container15 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text19 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container16 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text21 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container17 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text23 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container18 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text25 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container19 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text27 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container20 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text37 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container21 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text39 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container22 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text41 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container23 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text43 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container24 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text45 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container25 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text47 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.legal-agg-container26 {
  gap: var(--dl-layout-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  justify-content: center;
  background-color: #ff61c5;
}
 
.legal-agg-container27 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text49 {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.legal-agg-navlink23 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink24 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink25 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink26 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink27 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink28 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink29 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-container28 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text50 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.legal-agg-navlink30 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-container29 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text51 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.legal-agg-link3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link4 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-navlink31 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-container30 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.legal-agg-text52 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.legal-agg-link5 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link6 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link7 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-link8 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.legal-agg-container31 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #ff61c5;
}
 
.legal-agg-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: rgba(25, 24, 24, 0.54);
  border-width: 0.5px;
}
 
.legal-agg-text53 {
  color: rgba(25, 24, 24, 0.59);
}
 
@media(max-width: 767px) {
  .legal-agg-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .legal-agg-desktop-menu {
    display: none;
  }
  .legal-agg-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .legal-agg-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .legal-agg-mobile-menu {
    padding: 16px;
  }
  .legal-agg-nav {
    gap: var(--dl-layout-space-unit);
    background-color: #ff61c5;
  }
  .legal-agg-top {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .legal-agg-logo {
    width: 106px;
    height: 82px;
  }
  .legal-agg-navlink17 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .legal-agg-navlink22 {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .legal-agg-container12 {
    height: auto;
  }
  .legal-agg-container26 {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
  }
}
