.mgt-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mgt-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.mgt-navlink10 {
  display: contents;
}
 
.mgt-image1 {
  width: 208px;
  height: 123px;
  text-decoration: none;
}
 
.mgt-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.mgt-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #c2006c;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
  background-color: #ff61c5;
}
 
.mgt-navlink11 {
  color: #ffffff;
  text-decoration: none;
}
 
.mgt-navlink12 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink13 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink14 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink15 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink16 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-burger-menu {
  display: none;
}
 
.mgt-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.mgt-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.mgt-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.mgt-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.mgt-logo {
  height: 2rem;
}
 
.mgt-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.mgt-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.mgt-navlink17 {
  color: #ffffff;
  text-decoration: none;
}
 
.mgt-navlink18 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink19 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink20 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink21 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-navlink22 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.mgt-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.mgt-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.mgt-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.mgt-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.mgt-container12 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.mgt-text14 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.mgt-text15 {
  font-weight: 300;
}
 
.mgt-text16 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
 
.mgt-text18 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
 
.mgt-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image2 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text20 {
  font-weight: 300;
}
 
.mgt-text21 {
  font-size: 25px;
  font-weight: 500;
}
 
.mgt-text22 {
  font-weight: 300;
}
 
.mgt-container14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image3 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text23 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text24 {
  font-size: 25px;
}
 
.mgt-container15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image4 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text25 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text26 {
  font-size: 25px;
}
 
.mgt-container16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image5 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text27 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text28 {
  font-size: 25px;
}
 
.mgt-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image6 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text29 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text30 {
  font-size: 25px;
}
 
.mgt-container18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image7 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text31 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text32 {
  font-size: 25px;
}
 
.mgt-container19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image8 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text33 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-text34 {
  font-size: 25px;
}
 
.mgt-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.mgt-image9 {
  width: 200px;
  object-fit: cover;
}
 
.mgt-text35 {
  margin-top: var(--dl-layout-space-unit);
}
 
.mgt-container21 {
  gap: var(--dl-layout-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  justify-content: center;
  background-color: #ff61c5;
}
 
.mgt-container22 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mgt-text36 {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.mgt-navlink23 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink24 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink25 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink26 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink27 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink28 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink29 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-container23 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mgt-text37 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.mgt-navlink30 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-container24 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mgt-text38 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.mgt-link3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link4 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-navlink31 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-container25 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.mgt-text39 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.mgt-link5 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link6 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link7 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-link8 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.mgt-container26 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #ff61c5;
}
 
.mgt-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: rgba(25, 24, 24, 0.54);
  border-width: 0.5px;
}
 
.mgt-text40 {
  color: rgba(25, 24, 24, 0.59);
}
 
@media(max-width: 767px) {
  .mgt-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .mgt-desktop-menu {
    display: none;
  }
  .mgt-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .mgt-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .mgt-mobile-menu {
    padding: 16px;
  }
  .mgt-nav {
    gap: var(--dl-layout-space-unit);
    background-color: #ff61c5;
  }
  .mgt-top {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .mgt-logo {
    width: 106px;
    height: 82px;
  }
  .mgt-navlink17 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .mgt-navlink22 {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .mgt-container12 {
    height: auto;
  }
  .mgt-text14 {
    align-self: center;
  }
  .mgt-container13 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container14 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container15 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container16 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container17 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container18 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container19 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container20 {
    align-items: center;
    flex-direction: column;
  }
  .mgt-container21 {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
  }
}
