.priv-pol-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.priv-pol-navlink10 {
  display: contents;
}
 
.priv-pol-image {
  width: 208px;
  height: 123px;
  text-decoration: none;
}
 
.priv-pol-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.priv-pol-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #c2006c;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
  background-color: #ff61c5;
}
 
.priv-pol-navlink11 {
  color: #ffffff;
  text-decoration: none;
}
 
.priv-pol-navlink12 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink13 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink14 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink15 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink16 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-burger-menu {
  display: none;
}
 
.priv-pol-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.priv-pol-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.priv-pol-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.priv-pol-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.priv-pol-logo {
  height: 2rem;
}
 
.priv-pol-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.priv-pol-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.priv-pol-navlink17 {
  color: #ffffff;
  text-decoration: none;
}
 
.priv-pol-navlink18 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink19 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink20 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink21 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-navlink22 {
  color: rgb(255, 255, 255);
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.priv-pol-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.priv-pol-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.priv-pol-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.priv-pol-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.priv-pol-container12 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
}
 
.priv-pol-text14 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
 
.priv-pol-container13 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text15 {
  color: rgb(16, 16, 121);
  font-size: 35px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container14 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text18 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container15 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text25 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container16 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text40 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container17 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text42 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-text48 {
  text-decoration: underline;
}
 
.priv-pol-text53 {
  text-decoration: underline;
}
 
.priv-pol-text58 {
  text-decoration: underline;
}
 
.priv-pol-text63 {
  text-decoration: underline;
}
 
.priv-pol-text68 {
  text-decoration: underline;
}
 
.priv-pol-text73 {
  text-decoration: underline;
}
 
.priv-pol-text78 {
  text-decoration: underline;
}
 
.priv-pol-container18 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text82 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container19 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text84 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container20 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text86 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container21 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text96 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container22 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text98 {
  color: rgb(16, 16, 121);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Times New Roman";
  font-weight: 600;
}
 
.priv-pol-container23 {
  gap: var(--dl-layout-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  justify-content: center;
  background-color: #ff61c5;
}
 
.priv-pol-container24 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text100 {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.priv-pol-navlink23 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink24 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink25 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink26 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink27 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink28 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink29 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-container25 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text101 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.priv-pol-navlink30 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-container26 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text102 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.priv-pol-link3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link4 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-navlink31 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-container27 {
  flex: 0 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.priv-pol-text103 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.priv-pol-link5 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link6 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link7 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-link8 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.priv-pol-container28 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #ff61c5;
}
 
.priv-pol-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: rgba(25, 24, 24, 0.54);
  border-width: 0.5px;
}
 
.priv-pol-text104 {
  color: rgba(25, 24, 24, 0.59);
}
 
@media(max-width: 767px) {
  .priv-pol-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .priv-pol-desktop-menu {
    display: none;
  }
  .priv-pol-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .priv-pol-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .priv-pol-mobile-menu {
    padding: 16px;
  }
  .priv-pol-nav {
    gap: var(--dl-layout-space-unit);
    background-color: #ff61c5;
  }
  .priv-pol-top {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .priv-pol-logo {
    width: 106px;
    height: 82px;
  }
  .priv-pol-navlink17 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .priv-pol-navlink22 {
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .priv-pol-container12 {
    height: auto;
  }
  .priv-pol-container23 {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
  }
}
